{% extends 'base.html.twig' %}

{% block title %}Profil de {{ app.user.username }}{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}


    <div class="container"  style="max-width: 25%;">
        <h1 class="fst-italic text-primary">Profil de {{ user.username }}</h1>
        {% if user.picture != null and (user.id != app.user.id and user.isPublic == 1) %}
            {% set url = './build/images/profiles/'~user.picture %}
        {% else %}
            {% set url = './build/images/imageProfilDefaut.jpg' %}
        {% endif %}
        <div id="profile_pic" style="left: 15%;position: absolute;">
            <img style = "width: 150px; height: 200px;" src="{{ asset(url) }}" alt="{{ user.firstname }} {{ user.name }}">
        </div>
        <div class="row">
            <div class="col-md-8">
                <ul>
                    <li><strong>Pseudo :</strong> {{ user.username }}</li>
                    <li><strong>Nom :</strong> {{ user.name }}</li>
                    <li><strong>Prénom :</strong> {{ user.firstName }}</li>
                    <li><strong>Email :</strong> {{ user.email }}</li>
                    <li><strong>Téléphone :</strong> {{ user.phone }}</li>
                    <li><strong>Ville de rattachement :</strong> {{ user.SitesNoSite }}</li>
                </ul>
            </div>
        </div>
        {% if app.user and is_granted('ROLE_ADMIN')%}
        <a href="{{ path('app_user_edit', {'id': user.id}) }}" class="btn btn-primary">Modifier</a>
        {% elseif app.user == user %}
        <a href="{{ path('app_profile_edit', {'userid': user.id}) }}" class="btn btn-primary">Modifier</a>
        {% endif %}
        <a href="javascript:history.back()" class="btn btn-outline-darklight">Retour</a>
    </div>

{% endblock %}
