{% extends 'base.html.twig' %}

{% block title %}Sortie: {{ event.name }}{% endblock %}

{% block body %}

<div class="container mt-5">
    <div class="text-center">
        <h2>Annuler une sortie</h2>
    </div>
    {{ form_start(form) }}
    <div class="col-8 offset-2 mt-5">
        <div class="row">
            <label for="colFormLabel" class="col-sm-6 col-form-label ">Nom de la sortie: </label>
            <div class="col-sm-6">
                <label class="col-form-label">{{ event.name }}</label>
            </div>

            <label for="colFormLabel" class="col-sm-6 col-form-label ">Date et heure de la sortie: </label>
            <div class="col-sm-6">
                <label class="col-form-label">{{ event.startDateTime|date("d/m/Y") }}</label>
            </div>

            <label for="colFormLabel" class="col-sm-6 col-form-label ">Ville organisatrice: </label>
            <div class="col-sm-6">
                <label class="col-form-label">{{ event.eventLocation.city.name }}</label>
            </div>

            <label for="colFormLabel" class="col-sm-6 col-form-label ">Lieu: </label>
            <div class="col-sm-6">
                <label class="col-form-label">{{ event.eventLocation.name }}</label>
            </div>

            {{ form_row(form.cancellationReason) }}

        </div>
        <div class="mt-2">
            <button type="submit" class="btn btn-outline-main">
                Enregistrer
            </button>
            <a href="{{ app.request.getBaseURL() }}" class="btn btn-outline-secondary">
                Retour
            </a>
        </div>
    </div>
    {{ form_end(form) }}
</div>

{% endblock %}
