{% extends 'base.html.twig' %}

{% block title %}Sortie: {{ event.name }}{% endblock %}

{% block body %}

<div class="container mt-5">
    <div class="text-center">
        <h1 class="fst-italic text-base-blue">Afficher une sortie</h1>
    </div>

    {% if event.state.value == "CANCELED" %}
        <h4 class="text-danger">Cette sortie a été annulé</h4>
    {% endif %}

    <div class="row mt-5">
        <div class="col-12">
            <div class="row">
                <div class="col-6">
                    <div class="row mb-3">
                        <div class="d-flex">
                            <label for="colFormLabel" class="col-form-label text-base-blue">Nom de la sortie: </label>
                            <label class="col-form-label">{{ event.name }}</label>
                        </div>

                        <div class="d-flex">
                            <label for="colFormLabel" class="col-form-label text-base-blue">Date et heure de la sortie: </label>
                            <label class="col-form-label">{{ event.startDateTime|date("d/m/Y") }}</label>
                        </div>

                        <div class="d-flex">
                            <label for="colFormLabel" class="col-form-label text-base-blue">Date et heure de la sortie: </label>
                            <label class="col-form-label">{{ event.endDateTime|date("d/m/Y") }}</label>
                        </div>

                        <div class="d-flex">
                            <label for="colFormLabel" class="col-form-label text-base-blue">Date limite d'inscription: </label>
                            <label class="col-form-label">{{ event.limitDateInscription|date("d/m/Y") }}</label>
                        </div>

                        <div class="d-flex">
                            <label for="colFormLabel" class="col-form-label text-base-blue">Nombre de places: </label>
                            <label class="col-form-label">{{ event.getNbInscriptionMax }}</label>
                        </div>

                        <div class="d-flex">
                            <label for="descriptionEvent" class="col-form-label text-base-blue">Description et infos: </label>
                            <label class="col-form-label">{{ event.eventInfo }}</label>
                        </div>
                    </div>
                </div>
                <div class="col-6">

                    <div class="row mb-3">
                        <div class="d-flex">
                            <label for="colFormLabel" class="col-form-label text-base-blue">Ville: </label>
                            <label class="col-form-label">{{ event.eventLocation.city.name }}</label>
                        </div>

                        <div class="d-flex">
                            <label for="colFormLabel" class="col-form-label text-base-blue">Lieu: </label>
                            <label class="col-form-label">{{ event.eventLocation.name }}</label>
                        </div>

                        <div class="d-flex">
                            <label for="colFormLabel" class="col-form-label text-base-blue">Rue: </label>
                            <label class="col-form-label">{{ event.eventLocation.street }}</label>
                        </div>

                        <div class="d-flex">
                            <label for="colFormLabel" class="col-form-label text-base-blue">code postal: </label>
                            <label class="col-form-label">{{ event.eventLocation.city.zipcode }}</label>
                        </div>
                    </div>
                </div>
            </div>

            {% if event.cancellationReason != null and event.state.value == "CANCELED" %}
                <label for="descriptionEvent" class="col-sm-6 col-form-label text-base-blue">Motif d'annulation: </label>
                <div class="col-sm-6">
                    <textarea class="form-control" id="descriptionEvent" rows="4" disabled>{{ event.cancellationReason }}</textarea>
                </div>
            {% endif %}
        </div>
        <div class="d-flex">
            <div class="col-6">
                <h3 class="fst-italic mt-3 text-base-blue">Liste des participants/es inscrits/es</h3>
                <table class="table ">
                    <thead>
                    <tr>
                        <th scope="col">Pseudo</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Prenom</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in event.users %}
                        <tr>
                            {% if is_granted('ROLE_ADMIN') or event.user == app.user %}
                                <td><a href="{{ app.request.getBaseURL() }}/participant/{{ user.id }}">{{ user.username }}</a></td>
                            {% else %}
                                <td>{{ user.username }}</td>
                            {% endif %}
                            <td>{{ user.name }}</td>
                            <td>{{ user.firstname }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="d-flex col-6 align-items-end justify-content-end">
                <a href="javascript:history.go(-1)" style="max-height: 40px" class="btn btn-outline-darklight">Retour</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
