{% if (event.user == app.user or is_granted('ROLE_ADMIN')) and event.state.value == "CREATED" %}
    <a class="btn btn-outline-primary" href="{{ path('app_event_edit', {id:event.id}) }}">Modifier</a>
    <a class="btn btn-outline-warning" href="{{ path('app_event_publish',{id:event.id}) }}">Publier</a>
{% else %}
    <a class="btn btn-outline-primary" href="{{ path('app_event_details', {id:event.id}) }}">Afficher</a>
    {% if event.user == app.user and event.state.value == "OPEN" %}
        <a class="btn btn-outline-danger" href="{{ path('app_event_cancel', {id:event.id}) }}">Annuler</a>
    {% elseif event.user != app.user and event.getIsSub(app.user) == 0 and event.getIsTooLateToSubscribe() == false and is_granted('ROLE_ADMIN') == false and event.state.value == "OPEN" %}
        <a class="btn btn-outline-warning" href="{{ path('app_event_subscribe', {id:event.id}) }}">S'inscrire</a>
    {% elseif event.user != app.user and event.getIsSub(app.user) == 1 and event.getIsTooLateToSubscribe() == false and is_granted('ROLE_ADMIN') == false and event.state.value == "OPEN" %}
        <a class="btn btn-outline-warning" href="{{ path('app_event_unsubscribe', {id:event.id}) }}">Se désister</a>
    {% endif %}
{% endif %}