{% extends 'base.html.twig' %}

{% block title %}Liste des sorties{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h3>Filtrer les sorties</h3>

        {{ form(formFilter) }}

        <div class="text-center">
            <a class="btn-outline-primary btn" href="{{ app.request.getBaseURL() }}/create/event">Ajouter une sortie</a>
        </div>

        <div class="mt-5">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Nom de la sortie</th>
                        <th scope="col">Date de la sortie</th>
                        <th scope="col">Clotûre</th>
                        <th scope="col">inscrits/places</th>
                        <th scope="col">Etat</th>
                        <th scope="col">Inscrit</th>
                        <th scope="col">Organisateur</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for event in events %}
                        <tr>
                            <td>{{ event.name }}</td>
                            <td>{{ event.startDateTime|date("d/m/Y") }}</td>
                            <td>{{ event.limitDateInscription|date("d/m/Y") }}</td>
                            <td>{{ event.users|length }}/{{ event.getNbInscriptionMax }}</td>
                            <td>{{ event.getStateDescription() }}</td>
                            <td>
                                {% if event.getIsSub(app.user) == true %}
                                    <div class="text-center">
                                        <img src="{{ asset('./build/images/inscrit.png') }}" alt="est_inscrit" width="20px" height="20px">
                                    </div>
                                {% endif %}
                            </td>
                            <td>
                                {% if event.getIsSub(app.user) == true %}
                                    <a href="{{ app.request.getBaseURL() }}/profile/{{ event.user.id }}">{{ event.user.getFullName }}</a>
                                {% else %}
                                    <label>{{ event.user.getFullName }}</label>
                                {% endif %}
                            </td>
                            <td>
                                {% if (event.user == app.user or is_granted('ROLE_ADMIN')) and event.state.value == "CREATED" %}
                                    <a class="btn btn-outline-primary" href="{{ path('app_event_edit', {id:event.id}) }}">Modifier</a>
                                    <a class="btn btn-outline-warning" href="{{ path('app_event_publish',{id:event.id}) }}">Publier</a>
                                {% else %}
                                    <a class="btn btn-outline-primary" href="{{ path('app_event_details', {id:event.id}) }}">Afficher</a>
                                    {% if (event.user == app.user or is_granted('ROLE_ADMIN')) and event.state.value == "OPEN" %}
                                        <a class="btn btn-outline-danger" href="{{ path('app_event_cancel', {id:event.id}) }}">Annuler</a>
                                    {% elseif event.user != app.user and event.getIsSub(app.user) == 0 and event.getIsTooLateToSubscribe() == false and is_granted('ROLE_ADMIN') == false %}
                                        <a class="btn btn-outline-warning" href="{{ path('app_event_subscribe', {id:event.id}) }}">S'inscrire</a>
                                    {% elseif event.user != app.user and event.getIsSub(app.user) == 1 and event.getIsTooLateToSubscribe() == false and is_granted('ROLE_ADMIN') == false%}
                                        <a class="btn btn-outline-warning" href="{{ path('app_event_unsubscribe', {id:event.id}) }}">Se désister</a>
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
