<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Nom de la sortie</th>
        <th scope="col">Date de début</th>
        <th scope="col">Date de fin</th>
        <th scope="col">Clotûre</th>
        <th scope="col">inscrits/places</th>
        <th scope="col">Etat</th>
        <th scope="col">Inscrit</th>
        <th scope="col">Organisateur</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for event in events %}
        <tr>
            <td class="text-base-blue">{{ event.name }}</td>
            <td>{{ event.startDateTime|date("d/m/Y") }}</td>
            <td>{{ event.endDateTime|date("d/m/Y") }}</td>
            <td>{{ event.limitDateInscription|date("d/m/Y") }}</td>
            <td>{{ event.users|length }}/{{ event.getNbInscriptionMax }}</td>
            <td>{{ event.getStateDescription() }}</td>
            <td>
                {% if event.getIsSub(app.user) == true %}
                    <div class="text-center">
                        <img src="{{ asset('./build/images/inscrit.png') }}" alt="est_inscrit" width="20px" height="20px">
                    </div>
                {% endif %}
            </td>
            <td class="text-base-blue">
                {% if event.getIsSub(app.user) == true %}
                    <a href="{{ app.request.getBaseURL() }}/profile/{{ event.user.id }}">{{ event.user.getFullName }}</a>
                {% else %}
                    <label>{{ event.user.getFullName }}</label>
                {% endif %}
            </td>
            <td>
                {% include '/event/eventActions.html.twig' with {'event': event} %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>