{% extends 'base.html.twig' %}

{% block title %}Gérer les sites{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="text-center">
            <h1 class="text-base-blue fst-italic">Gérer les sites</h1>
        </div>

        <div class="mt-4">
            <h3 class="text-base-blue fst-italic">Filtrer les sites</h3>

            {{ form_start(form) }}
                <div class="row mb-3">
                    <div class="col-6">
                        {{ form_row(form.name) }}
                    </div>
                    <div class="col-4">
                        {{ form_row(form.save) }}
                    </div>
                </div>
            {{ form_end(form) }}
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Ville</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for ville in villes %}
                    {% if contain == '' or contain|lower in ville.name|lower %}
                        <tr>
                            <td>{{ ville.name }}</td>
                            <td>
                                <a class="btn btn-outline-success me-2" href="">Modifier</a>
                                <a class="btn btn-outline-danger" href="{{ path('app_site_delete', {'id': ville.id}) }}">Supprimer</a>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
                <tr>
                    {{ form_start(formVille) }}
                        <td>{{ form_widget(formVille.name) }}</td>
                        <td>{{ form_widget(formVille.save) }}</td>
                    {{ form_end(formVille) }}
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
