<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Connexion</title>
        <link rel="icon" href="{{ asset('build/images/logo.jpg') }}">

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('./build/vendors-node_modules_bootstrap_dist_js_bootstrap_bundle_min_js-node_modules_bootstrap_dist_cs-f20b8b.css') }}">
            <link rel="stylesheet" href="{{ asset('./build/app.css') }}">
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('./build/vendors-node_modules_bootstrap_dist_js_bootstrap_bundle_min_js-node_modules_bootstrap_dist_cs-f20b8b.js') }}"></script>
            <script src="{{ asset('./build/app.js') }}"></script>
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="container-fluid w-25 mt-5 pt-5">
            <div class="d-flex align-items-center py-4">
                <main class="form-signin w-100 m-auto">
                    <form method="post">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        <h1 class="h3 mb-3 fw-normal">Connexion</h1>

                        <div class="form-floating mb-4">
                            <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" placeholder="name@example.com" required autofocus>
                            <label for="username">Email, nom d'utilisateur</label>
                        </div>

                        <div class="form-floating">
                            <input
                                    type="password"
                                    name="_password"
                                    id="password"
                                    class="form-control"
                                    autocomplete="current-password"
                                    placeholder="Mot de passe"
                                    required
                                {{ stimulus_controller(
                                    'symfony/ux-toggle-password/toggle-password', {
                                        visibleLabel: 'Voir',
                                        hiddenLabel: 'Cacher',
                                        buttonClasses: ['toggle-password-button'],
                                    })
                                }}
                            >
                            <label for="password">Mot de passe</label>
                        </div>

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                        <div class="form-check text-start my-3">
                            <input class="form-check-input" type="checkbox" name="_remember_me" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">Se souvenir de moi</label>
                        </div>

                        <button class="btn btn-primary w-100 py-2" type="submit">Connexion</button>
                    </form>
                </main>
            </div>
        </div>
    </body>
</html>
