<nav class="navbar navbar-expand-lg sticky-top" style="background: lightgrey;" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('app_home') }}">
            <img src="{{ asset('./build/images/logo.jpg') }}" alt="logo" width="100px" height="90px">
        </a>


        <div class="collapse navbar-collapse d-flex align-items-end flex-column">
            <ul class="navbar-nav">
                <li class="nav-item mx-3">
                    <a style="color:grey; padding-top: 7px;"class="nav-link {{ app.request.attributes.get('_route') == 'app_home' ? ' active' : '' }}" {{ app.request.attributes.get('_route') == 'app_home' ? 'aria-current="page"' : '' }} href="{{ path('app_home') }}"> Accueil </a>
                </li>
                {% if not app.user %}
                    <li class="nav-item mx-3">
                        <a style="color:grey;" class="nav-link" href="{{ path('app_login') }}"> Connexion </a>
                    </li>
                {% endif %}
                {% if app.user %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <div class="dropdown">
                            <button style="color:grey;" class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Administration
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item {{ app.request.attributes.get('_route') == 'app_register' ? 'active' : '' }}" {{ app.request.attributes.get('_route') == 'app_register' ? 'aria-current="page"' : '' }} href="{{ path('app_user_index') }}"> Participants </a>
                                </li>
                                <li>
                                    <a class="dropdown-item {{ app.request.attributes.get('_route') == 'app_site' ? 'active' : '' }}" {{ app.request.attributes.get('_route') == 'app_site' ? 'aria-current="page"' : '' }} href="{{ path('app_site') }}"> Sites </a>
                                </li>
                                <li>
                                    <a class="dropdown-item {{ app.request.attributes.get('_route') == 'app_city' ? 'active' : '' }}" {{ app.request.attributes.get('_route') == 'app_city' ? 'aria-current="page"' : '' }} href="{{ path('app_city') }}"> Villes </a>
                                </li>
                            </ul>
                        </div>
                    {% endif %}

{#                {% if app.user.ForceChange == 1 and app.request.uri !='/premiere_connexion' %}#}
{#                    {{ app.exit(path('app_first_login')) }}#}
{#                {% endif %}#}
                    <li class="nav-item mx-3">
                        {% if app.user and is_granted('ROLE_ADMIN')%}
                            <a style="color:grey;" class="nav-link {{ app.request.attributes.get('_route') == 'app_home' ? 'active' : '' }}" {{ app.request.attributes.get('_route') == 'app_home' ? 'aria-current="page"' : '' }} href="{{ path('app_user_edit', {'id':  app.user.id}) }}"> Mon profil </a>
                        {% else %}
                            <a style="color:grey;" class="nav-link {{ app.request.attributes.get('_route') == 'app_home' ? 'active' : '' }}" {{ app.request.attributes.get('_route') == 'app_home' ? 'aria-current="page"' : '' }} href="{{ path('app_profile_edit', {'userid': app.user.id}) }}"> Mon profil </a>
                        {% endif %}
                    </li>
                    <li class="nav-item mx-3">
                        <a style="color:grey;" class="nav-link" href="{{ path('app_logout') }}"> Déconnexion </a>
                    </li>
                {% endif %}
            </ul>
            <div class="info-nav d-flex flex-column pe-5">
                <p style="color:grey;">Date du jour : {{ "now"|date("m/d/Y") }}</p>
                <p style="color:grey;">Participant : {{ app.user.username }}</p>
            </div>
        </div>
    </div>
</nav>
