<div class="container-fluid w-50 mt-2">
<h1 class="fst-italic text-center mt-5 mb-3 text-base-blue">Modifier le profil</h1>
{{ form_start(form) }}
    <div class="d-flex">
        <div class="col-6">
            {% if user.picture != null %}
                {% set url = './build/images/profiles/'~user.picture %}
            {% else %}
                {% set url = './build/images/imageProfilDefaut.jpg' %}
            {% endif %}
            <div id="profile_pic" style="left: 15%;position: absolute;">
                <img style = "width: 150px; height: 200px;" src="{{ asset(url) }}" alt="{{ user.firstname }} {{ user.name }}">
            </div>
            {{ form_row(form.username) }}
            {{ form_row(form.firstName) }}
            {{ form_row(form.name) }}
            {{ form_row(form.phone) }}
        </div>
        <div class="col-6">
            {{ form_row(form.email) }}
{#            <div class="mb-3">#}
{#                <label for="edit_user_city" class="form-label">Site : </label>#}
{#                <input type="text" id="edit_user_city" name="edit_user[city]" value="{{ cityName }}" class="disabled border-0 form-control">#}
{#            </div>#}
{#            {{ form_row(form.password) }}#}
            {{ form_row(form.sites_no_site) }}
        </div>
    </div>
    <button class="btn btn-outline-main">{{ button_label|default('Save') }}</button>
    <a href="{{ path('app_home') }}" class="btn btn-outline-darklight">Retour</a>
    {% if app.user.id == user.id %}
        <a class="btn btn-outline-darklight" style="margin-right: 1%;" href="{{ path('edit_password', {'userid': app.user.id}) }}" >Modifier le mot de passe</a>
        <a class="btn btn-outline-darklight" href="{{ path('user_upload', {'userid': app.user.id}) }}">Modifier mon image</a><br>
    {% endif %}
    {{ form_end(form) }}
    </div>

