{% extends 'base.html.twig' %}

{% block title %}Participants{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="text-center">
        <h2>Liste des participants/es</h2>
    </div>

    <div class="text-center my-4">
        <a class="btn btn-outline-primary me-3" href="{{ path('app_register') }}">Inscrire</a>
        <a class="btn btn-outline-success" href="#">Import fichier .csv</a>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Pseudo</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Actif</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.firstName }}</td>
                    <td>{{ user.isActive ? '✔' : '✘' }}</td>
                    <td>
                        <a class="btn btn-outline-primary me-2" href="{{ path('app_user_show', {'id': user.id}) }}">Afficher</a>
                        <a class="btn btn-outline-success" href="{{ path('app_user_edit', {'id': user.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="10">Aucun participant trouvé</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_register') }}">Create new</a>
{% endblock %}
</div>