{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1 class="text-center pt-5">{{ title }}</h1>
    <div class="container">
    {{ form_start(formCreateEvent) }}
        <div class="row">
            <div class="col-md-5">
                {{ form_row(formCreateEvent.name) }}
                {{ form_row(formCreateEvent.startDateTime) }}
                {{ form_row(formCreateEvent.endDateTime) }}
                {{ form_row(formCreateEvent.limitDateInscription) }}
                {{ form_row(formCreateEvent.nbInscriptionMax) }}
                {{ form_row(formCreateEvent.event_info) }}
            </div>
            <div class="col-md-5 offset-md-1">
                {{ form_row(formCreateEvent.locationSiteEvent) }}
                {{ form_row(formCreateEvent.eventLocation.city.name) }}
                {{ form_row(formCreateEvent.eventLocation.name) }}
                {{ form_row(formCreateEvent.eventLocation.street) }}
                {{ form_row(formCreateEvent.eventLocation.city.zipcode) }}
                {{ form_row(formCreateEvent.save) }}
                {{ form_row(formCreateEvent.publish) }}
            </div>
        </div>
    {{ form_end(formCreateEvent) }}
    </div>

    <script>
        // Get references to the select and input elements
        const citySelect = document.getElementById('create_event_eventLocation_city_name');
        const zipcodeInput = document.getElementById('create_event_eventLocation_city_zipcode');
        const locationSelect = document.getElementById('create_event_eventLocation_name');
        const streetInput = document.getElementById('create_event_eventLocation_street');

        const base_url = window.location.origin;
        const pathArray = window.location.pathname.split( '/' );
        let completeBaseUrl = base_url;
        if(pathArray[1]!=='public'){
            completeBaseUrl = completeBaseUrl+'/'+pathArray[1]+'/'+pathArray[2];
        }
        else{
            completeBaseUrl = completeBaseUrl+'/'+pathArray[1];
        }

        // Function to update the ZIP code input field based on the selected city
        function updateZipcodeAndStreet() {
            const selectedCity = citySelect.value;
            let selectedLocation = locationSelect.value;
            if (locationSelect.value === '') {
                selectedLocation = null
            }
            // Make an AJAX request to fetch the ZIP code
            fetch(completeBaseUrl+`/get-zipcode/${selectedCity}-${selectedLocation}`)
                .then(response => response.json())
                .then(data => {
                    zipcodeInput.value = data.zipcode;
                    if (locationSelect.value === '') {
                        streetInput.value = ''
                    } else {
                        streetInput.value = data.street;
                    }

                });
        }

        // Fonction pour mettre à jour le champ de sélection de l'emplacement en fonction de la ville sélectionnée
        function updateLocationOptions() {
            const selectedCity = citySelect.value;

            // Make an AJAX request to fetch the locations based on the selected city
            fetch(completeBaseUrl+`/get-locations/${selectedCity}`)
                .then(response => response.json())
                .then(data => {
                    // Clear existing options
                    locationSelect.innerHTML = '';

                    // Add new options based on the response
                    data.locations.forEach(location => {
                        const option = document.createElement('option');
                        option.value = location.id;
                        option.textContent = location.name;
                        locationSelect.appendChild(option);
                    });
                    updateZipcodeAndStreet();
                });
        }

        // Add an event listener to the city select field to update location options on change
        citySelect.addEventListener('change', updateLocationOptions);

        // Add an event listener to the city select field to update ZIP code and street on change
        citySelect.addEventListener('change', updateZipcodeAndStreet);
        locationSelect.addEventListener('change', updateZipcodeAndStreet);

        // Initialize location options when the page loads
        updateLocationOptions();
        // Initialize ZIP code when the page loads
        updateZipcodeAndStreet();
    </script>
{% endblock %}
