{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ path('app_home') }}">ENI-Sortir</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-flex justify-content-end">
                <ul class="navbar-nav">
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item mx-3">
                            <a class="nav-link active" aria-current="page" href="{{ path('app_site') }}"> Sites </a>
                        </li>
                    {% endif %}
                    <li class="nav-item mx-3">
                        <a class="nav-link active" aria-current="page" href="{{ path('app_home') }}"> Accueil </a>
                    </li>
                    {% if not app.user %}
                        <li class="nav-item mx-3">
                            <a class="nav-link" href="{{ path('app_login') }}"> Connexion </a>
                        </li>
                    {% endif %}
                    {% if app.user %}
                        <li class="nav-item mx-3">
                            <a class="nav-link" href="{{ path('app_logout') }}"> Mon profil </a>
                        </li>
                        <li class="nav-item mx-3">
                            <a class="nav-link" href="{{ path('app_logout') }}"> Déconnexion </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <h1 class="text-center">Créer une sortie</h1>
    {{ form_start(formCreateEvent) }}
    {{ form_start(formCreateEventCity) }}
    {{ form_start(formCreateEventLocation) }}
        <div class="row container">
            <div class="col-md-6">
                {{ form_row(formCreateEvent.name) }}
                {{ form_row(formCreateEvent.startDateTime) }}
                {{ form_row(formCreateEvent.limitDateInscription) }}
                {{ form_row(formCreateEvent.nbInscriptionMax) }}
                {{ form_row(formCreateEvent.duration) }}
                {{ form_row(formCreateEvent.event_info) }}
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="create_event_user_city" class="form-label required">Ville organisatrice</label>
                    <input type="text" id="create_event_user_city" name="create_event_user[city]" value="{{ cityName }}" disabled class="form-control">
                </div>
                {{ form_row(formCreateEventCity.name) }}
                {{ form_row(formCreateEventLocation.name) }}
                {{ form_row(formCreateEventLocation.street) }}
                {{ form_row(formCreateEventCity.zipcode) }}
                {{ form_row(formCreateEventLocation.latitude) }}
                {{ form_row(formCreateEventLocation.longitude) }}
            </div>
        </div>
    {{ form_end(formCreateEvent) }}
    {{ form_end(formCreateEventCity) }}
    {{ form_end(formCreateEventLocation) }}



{% endblock %}
